/* Song CSS styles */
.container {
  padding: 10px;
  font-family: sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipada{
  height: 95%;
  border-radius: 6px;
}

.backcover{
  display: grid;
  place-items: center;
}


.info{
  width: 100%;
  height: 100%;
}

.name {
  color: #a4e8ad;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  background-position: center;
  border-radius: 6px 6px 0px 0px;
}

.songinfo {
  background-color: rgba(247, 247, 247, 0.9);
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  padding: 5px 10px 5px 10px;
  font-size: 18px;
}

.item > i{
  color: #a4e8ad;
  font-size: 18px;
  padding-right:10px;
}

.cover {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.caratula {
  width: 250px;
  border-radius: 6px;
  box-shadow: 9px 9px 16px rgba(162, 162, 162, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.alert {
  text-align: center;
  font-size: 30px;
  top: 150px;
  color: #9bdea4;
}
