<div class="container">

  <div *ngIf="selectedSong" class="info">

    <div class="cover"><img src="{{selectedSong.image}}" class="caratula"></div>

    <div class="name">{{selectedSong.tittle}}</div>

    <div class="songinfo">

      <div class="songinfo-container1">

        <mat-list-item>
          <mat-icon matListItemIcon>mic_external_on</mat-icon>
          <div matListItemTitle>{{selectedSong.artist}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>album</mat-icon>
          <div matListItemTitle>{{selectedSong.disc}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>sell</mat-icon>
          <div matListItemTitle>{{selectedSong.style}}</div>
        </mat-list-item>

      </div>

      <div class="songinfo-container2">

        <mat-list-item>
          <mat-icon matListItemIcon>interpreter_mode</mat-icon>
          <div matListItemTitle>{{selectedSong.subtittle}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>calendar_month</mat-icon>
          <div matListItemTitle>{{selectedSong.year}}</div>
        </mat-list-item>

      </div>

    </div>

    <div class="likecontainer">
      <button mat-icon-button color="accent" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>

  </div>

  <div class="selection" *ngIf="!selectedSong">
    <div>
      <p class="alert">Select a song! </p>
    </div>
  </div>

</div>



